* {
	padding: 10px;
	margin: 10px;
}

p {
	padding: 10px;
	margin: 10px;

}

div {
	border-width: 2px;
	border-style: solid;
	border-color: red;
	text-shadow: 1px 1px #ff0000;
}


.container-flex-row {
	display: flex;
	flex-flow: row wrap;
	margin: 10px;
	text-align: center;
	
	}
